<!doctype html>

<html>
   <head>
	<title>Object Detection</title>
	<meta charset="utf-8" />
	<link rel="shortcut icon" href="{{ url_for('static',filename='App-Twitter-icon.png') }}" />
      	<link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/paper/bootstrap.min.css" rel="stylesheet" integrity="sha384-awusxf8AUojygHf2+joICySzB780jVvQaVCAt1clU3QsyAitLGul28Qxb2r1e5g+" crossorigin="anonymous">
      	<link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Antic'>
	<link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}" />

	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}"/>

	<script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </head> 
    
   <body>
        <section id="header">
				<div class="inner">
					<span class="icon major fa-twitter"></span>
						<h1>OBJECT DETECTION WITH PYTHON FLASK OPENCV</h1>
							<p>Semua data dari input ke output dimuat melalui buffer memori Situs sehingga memungkinkan butuh waktu</br>
							<p>O(H x W x C) itu sendiri dimensi gambar yang ditraining, Out(Height x Weight x Channel)</br>
	   						
		<br>
		<div class="container">
		<div class="row">
		<div class="col-sm-4">
			</div>
			<div class="col-sm-4">
				<h2 class="page-header">Form Upload Gambar</h2>
					<div><form action="/" method="POST" enctype="multipart/form-data"></div>
					<div><input type="file" name="file"></div>
					<br>
					<div><input type = "submit"/>	
					</form></div>
			</div>
		</div>
	</div>
         </section> 
         <section id="footer">
			<ul class="icons">
				<!-- <li><a href="#" class="icon alt fa-twitter"><span class="label">Twitter</span></a></li> -->
				<li><a href="http://instagram.com/rizky_novaa" target="_blank" class="icon alt fa-linkedin"><span class="label">Instagram</span></a></li>
				<li><a href="https://suwungtandon.github.io" class="icon alt fa-github"><span class="label">GitHub</span></a></li>
				<li><a href="#" target="_blank" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
				<li><a href="mailto:suwungtandon@gmail.com" class="icon alt fa-envelope"><span class="label">Email</span></a></li>
			</ul>
			<ul class="copyright">
					<li>Tandon Suwung</li><li>2019</li>
			</ul>
			
		</section>

		<!-- Scripts -->
			<script type="text/javascript" src="{{ url_for('static', filename = 'js/jquery.min.js') }}"></script>
			<script type="text/javascript" src="{{ url_for('static', filename = 'js/skel.min.js') }}"></script>
			<script type="text/javascript" src="{{ url_for('static', filename = 'js/jquery.scrolly.min.js') }}"></script>
			<script type="text/javascript" src="{{ url_for('static', filename = 'js/util.js') }}"></script>
			<script type="text/javascript" src="{{ url_for('static', filename = 'js/main.js') }}"></script>
   </body>
</html>
