<!doctype html>

<html>
   <head>
	<title>Object Detection</title>
	<meta charset="utf-8" />
	<link rel="shortcut icon" href="{{ url_for('static',filename='App-Twitter-icon.png') }}" />
      	<link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/paper/bootstrap.min.css" rel="stylesheet" integrity="sha384-awusxf8AUojygHf2+joICySzB780jVvQaVCAt1clU3QsyAitLGul28Qxb2r1e5g+" crossorigin="anonymous">
      	<link rel='stylesheet prefetch' href='https://fonts.googleapis.com/css?family=Antic'>
	<link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}" />

	<meta name="viewport" content="width=device-width, initial-scale=1" />
	<link rel="stylesheet" href="{{ url_for('static',filename='css/main.css') }}"/>

	<script src="https://code.jquery.com/jquery-3.1.1.min.js" crossorigin="anonymous"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </head> 
    
   <body>
        <section id="header">
	<div class="inner">
		<h1>Object Detection</h1>
               		<br><br><br><br>
			
                	<form action = "/" method = "POST" enctype = "multipart/form-data">
			<label for="file-upload" class="custom-file-upload">
    			<i class="fa fa-cloud-upload"></i> Custom Upload
			</label>
			<input id="file-upload" type="file" name = "file" />
                	<!-- <input type = "file" name = "file" /> -->
                	<input type = "submit"/>
               		<br><br><br><br>
                		All data from input to output is loaded through in memory buffer <br> so it might take time <b> O(H x W x C) </b>
               		<br><br>
               		</form>
	</ul>
	</div>
         </section> 
         <section id="footer">
			<ul class="icons">
				<!-- <li><a href="#" class="icon alt fa-twitter"><span class="label">Twitter</span></a></li> -->
				<li><a href="http://instagram.com/rizky_novaa" target="_blank" class="icon alt fa-linkedin"><span class="label">Instagram</span></a></li>
				<li><a href="https://suwungtandon.github.io" class="icon alt fa-github"><span class="label">GitHub</span></a></li>
				<li><a href="#" target="_blank" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
				<li><a href="mailto:suwungtandon@gmail.com" class="icon alt fa-envelope"><span class="label">Email</span></a></li>
			</ul>
			<ul class="copyright">
					<li>Tandon Suwung</li><li>2018</li>
			</ul>
			
		</section>

		<!-- Scripts -->
			<script type="text/javascript" src="{{ url_for('static', filename = 'js/jquery.min.js') }}"></script>
			<script type="text/javascript" src="{{ url_for('static', filename = 'js/skel.min.js') }}"></script>
			<script type="text/javascript" src="{{ url_for('static', filename = 'js/jquery.scrolly.min.js') }}"></script>
			<script type="text/javascript" src="{{ url_for('static', filename = 'js/util.js') }}"></script>
			<script type="text/javascript" src="{{ url_for('static', filename = 'js/main.js') }}"></script>
   </body>
</html>
